<div class="px-40 mt-10">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl">
      {{ isEdit ? 'Update Brand' : 'Add New Brand' }}
    </h1>
    <button mat-stroked-button color="warn" (click)="goBack()">Back</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white shadow-2xl rounded-xl p-8 space-y-6 z-10">
    <mat-form-field class="w-full">
      <mat-label>Brand Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Enter brand name"
      />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Brand name is required
      </mat-error>
    </mat-form-field>

    <div class="flex justify-end">
      <button
        mat-raised-button
        [color]="isEdit ? 'accent' : 'primary'"
        class="px-6 py-2 rounded-lg"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ isEdit ? 'Update Brand' : 'Add Brand' }}
      </button>
    </div>
  </form>
</div>
