<div class="px-40 mt-10">
    <div class="flex justify-between items-center mb-6">
      <!-- TItle and Back Button -->
      <h1 class="text-3xl ">Add New Category</h1>
      <button mat-stroked-button color="warn" (click)="goBack()">Back</button>
    </div>
  
    <form class="bg-white shadow-2xl rounded-xl p-8 space-y-6 z-10 ">
      <!-- Category Name Input without vertical line -->
      <mat-form-field class="w-full">
        <mat-label>Category Name</mat-label>
        <input
          matInput
          type="text" [(ngModel)]="name" name="name"
          class="w-full focus:ring-0 focus:border-none"
          placeholder="Enter category name"
          required
        />
      </mat-form-field>
  
      <!-- Add Category Button -->
      <div class="flex justify-end">
        <button mat-raised-button color="primary" class="px-6 py-2 rounded-lg" [disabled]="!name" (click)="add()">
          Add Category
        </button>
      </div>
    </form>
  </div>
  