<div class="px-40 mt-10">
  <!-- Naslov -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl">
      {{ isEdit ? 'Update Category' : 'Add New Category' }}
    </h1>
    <button mat-stroked-button color="warn" (click)="goBack()">Back</button>
  </div>

  <!-- Forma -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white shadow-2xl rounded-xl p-8 space-y-6 z-10">
    <!-- Input za ime kategorije -->
    <mat-form-field class="w-full">
      <mat-label>Category Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Enter category name"
      />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <!-- Dugmad -->
    <div class="flex justify-end">
      <button
        mat-raised-button
        color="{{ isEdit ? 'accent' : 'primary' }}"
        class="px-6 py-2 rounded-lg"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ isEdit ? 'Update Category' : 'Add Category' }}
      </button>
    </div>
  </form>
</div>
