<!-- Gornja linija -->
<div class="top-bar">
  <div class="logo">
    <a routerLink="/">🛍️ E-Shop</a>
  </div>

  <!-- Search bar sa ikonom -->
  <div class="search-container">
    <mat-icon class="search-icon">search</mat-icon> <!-- Angular Material Search ikona -->
    <input type="text" placeholder="Search products..."(keyup.enter)="onSearch($event)" />
  </div>

  <div class="profile">
    <a routerLink="/profile">👤 Profile</a>
  </div>

  <!-- Hamburger ikonica -->
  <button class="hamburger" (click)="toggleNav()" [ngClass]="{ 'open': menuOpen }">
    ☰
  </button>
</div>

<!-- Donja linija - navigacija -->
<nav class="bottom-nav" [class.open]="menuOpen">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

   <!-- Učitavanje kategorija iz Observable-a uz async pipe -->
  <ng-container *ngIf="categories | async as list">
    <a *ngFor="let category of list" [routerLink]="['/products', category._id]" routerLinkActive="active">
      {{ category.name }}
    </a>
  </ng-container>
</nav>
