<!-- Gornja linija -->
<div class="top-bar">
  <div class="logo">
    <a routerLink="/">🛍️ E-Shop</a>
  </div>

  <!-- Search bar sa ikonom -->
  <div class="search-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" placeholder="Search products..." (keyup.enter)="onSearch($event)" />
  </div>

  <div class="profile">
    @if (user$ | async; as user) {
      <span class="welcome">
        Welcome <strong class="capitalize highlight-name">{{ user.name }}</strong>
      </span>
      <button (click)="logout()" class="ml-4">Logout</button>
    } @else {
      <a routerLink="/login" class="ml-4">Login</a>
      <a routerLink="/register" class="ml-4">Register</a>
    }

  </div>

  <!-- Hamburger ikonica -->
  <button class="hamburger" (click)="toggleNav()" [ngClass]="{ 'open': menuOpen }">
    ☰
  </button>
</div>

<!-- Donja linija - navigacija -->
<nav class="bottom-nav" [class.open]="menuOpen">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

  <!-- Kategorije -->
  @if (categories | async; as list) {
    @for (category of list; track category) {
      <a [routerLink]="['/products', category._id]" routerLinkActive="active">
        {{ category.name }}
      </a>
    }
  }
</nav>
